@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital@1&display=swap');

@import "header";
@import "toolbar";
@import "formula";
@import "table";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

}

.excel {
    
}


